.not-found-container{
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b3c599ad;
  background-color: #1b0909;
}

.not-found-title {
  font-size: 6em;
  margin: 15px 0px;
  font-weight: bold;
  display: block;
  line-height: 1em;
  color: white;
}


.not-found-message {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
}

.not-found-btn{
  display: block;
  z-index: 1;
  overflow: hidden;
  background: rgb(299,200,100,0.3);
  position: relative;
  padding: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;

  color: white;
  border: none;
  font-size: 1.2em;
  line-height: 1.5em;
  text-decoration: none;
}

.not-found-btn:hover{
  color: #3b1414;
  background: white;
  transition: all .2s;
}
